@import "_mixin.scss";

.button {
  margin: 0;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  background-color: #22262a;
  color: #fff;
  font-weight: 500;
  padding: 4px 29px;
  height: 35px;
  @include hover;
  &:first-of-type {
    margin-right: 30px;
  }
}
